
*{
margin:0;
padding:0;
box-sizing:border-box;
}
body{
width:100%;
height:100vh;
padding-top:70px;
}
a{
text-decoration: none;
color:black;
}
a:hover{
color:blue;
}
h3{
text-align:center;
}
h4,.nextLinksClass2{
font-family:'Segoe UI', Tahoma, Verdana, sans-serif;
font-style:normal;
font-weight:bold;
}
h2{
font-size:x-large;
font-weight:600;
margin:20px;
color:darkblue;
}
.nextLinksClass2{
font-size:medium;
font-weight:600;
}
#iconImage{
width:30px;
height:30px;
background-image:url(images/index-page-icon.jpg);
background-size:cover;
border-radius:10px;
}
.navBarClass1{
width:100%;
height:50px;
padding-left:20px;
padding-right:20px;
background-color: white;;
z-index:10;
}
.navBarClass2,.iconImageClass2{
display:flex;
justify-content:space-between;
align-items:center;
}
.navBarClass3{
position:fixed;
top:0px;
}
#iCon{
width:150px;
height:100%;
}
.nextLinksClass1{
height:100%;
width:250px;
}
.nextLinksClass3{
display:flex;
justify-content:space-between;
align-items:center;
}
#footerContainer{
width:100%;
height:auto;
color:white;
background-color:#1C48E6;
}
.footerContainerClass1{
margin-top:20px;
padding:20px 10px;
}
.footerTextClass1{
margin-top:20px;
line-height:1.4;
}
#mainPicture{
width:96%;
height:300px;
background-image:url(images/readingimage.jpg);
background-size:contain;
}
.mainPictureClass1{
margin:auto;
border-radius:5px;
border:3px solid black;
}
#textContainer{
width:95%;
height:400px;
margin:auto;
margin-top:20px;
}
.textContainerClass1,.formulaContainerClass1{
display:flex;
justify-content:space-evenly;
}
ul,ol{
list-style-position:inside;
}
p,ol{
text-align:justify;
line-height:1.4;
hyphens:auto;
}
.messageContainer,.formulaClass1{
width:30%;
height:100%;
padding:10px;
border-radius:5px;
overflow-y:scroll;
border:1px solid black;
}
.messageContainer::-webkit-scrollbar{
width:6px;
}
.formulaClass1::-webkit-scrollbar{
width:6px;
}
.headDecorationClass1{
margin-top:10px;
font-size:normal;
font-weight:600;
}
#formulaContainer{
width:98%;
height:300px;
margin-top:20px;
}
.formulaContainerClass2{
padding-left:20px;
}
.imageFormulaClass1{
width:25%;
height:250px;
background-image:url(images/calculatorimage.jpg);
background-size:cover;
background-position:center;
}
.imageFormulaClass1:hover{
transform:scale(1.1);
transition:all 0.3s normal;
}
.formulaClass1:hover{
transform:scale(1.1);
transition:all 0.3s normal; 
}
.formulaClass1{height:90%;}
.formulaContainerClass1{align-items:center;}
.formulaContainerClass2{border-radius:5px;}
.formulaHeadingClass1{
margin-top:40px;
font-size:large;
font-weight:700;
margin-bottom:10px;
}
.mobileOptionsContainerClass1{
width:250px;
height:calc(100% - 50px);
position:fixed;
top:50px;
left:-200px;
bottom:100%;
transform:translateX(200px);
transition:all 0.3s ease;
background-color:rgba(255,255,255,0.8);
}
.mobileOptionsContainerClass2{
padding:10px 0px 0px 10px;
content:none;
display:none;
font-weight:500;
border-right:3px solid rgb(49, 47, 47);
z-index:5;
}
.imageContainerClass1{
width:90%;
height:50%;
overflow-y:auto;
margin-top:20px;
}
.imageContainerClass2{
display:flex;
flex-direction:column;
justify-content:start;
align-items:center;
gap:10px;
}
.imageContainerClass1 img{
width:20px;
height:20px;
margin-left:10px;
}
.optionHolderClass1{
width:200px;
height:40px;
text-align:center;
border-radius:10px;
font-size:x-large;
border:3px solid black;
}
.optionHolderClass1{
display:flex;
justify-content:center;
text-align:center;
margin-left:10px;
}
.linkSliderClass1{
width:90%;
height:70px;
}
.linkSliderClass1 li {
margin-top:10px;
}

.emoji {
  position: absolute;
  font-size: 28px;
  pointer-events: none;
  animation: fadeOut 1s ease-out forwards;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform: scale(1.6);
    transform: translateY(-5px);
  }
}


/* ---------->media query case <----------- */

@media (max-width:600px){

#mainPicture{
background-size:cover;
}
.textContainerClass1{
flex-direction:column;
align-items:center;
overflow:auto;
border:1px solid black;
}
.textContainerClass1::-webkit-scrollbar{width:6px;}
.messageContainer{
width:100%;
height:auto;
overflow-y:visible;
border:none;
}
.formulaClass1{
width:90%;
height:90%;
flex-shrink:0;
}
.formulaContainerClass1{
flex-direction:row;
overflow-x:scroll;
gap:30px;
}
.nextLinksClass1{width:40px;}
.semPageClass1, .midPageClass1{display:none;}
.mobileOptionsContainerClass1{display:block;}
#sideOptions{
width:40px;
height:40px;
background-image:url(images/option.jpg);
background-size:cover;
border-radius:10px;
cursor:pointer;
}
}
